// reset //

html {
    box-sizing: border-box;
    font-size: 16px;
    font-family: Helvetica, sans-serif;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
    transition: 0.1s;
    -webkit-tap-highlight-color: transparent;
  }
  
  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
  }
  
  ol, ul {
    list-style: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }

  // global styles //

  input, select {
    border: 3px grey solid;
    outline: none;
    padding: 0.4rem;
    border-radius: 1rem;
    display: block;
    margin-block: 0.5rem;

    &:focus {
      border-color: rgb(7, 118, 192);
    }
  }

  button {
    border: none;
    background-color: transparent;
    border: 3px rgb(7, 118, 192) solid;
    border-radius: 10px;
    padding: 0.5rem 1rem;
    margin-block: 1rem;
    background-color: rgba(7, 118, 192, 0.5);
  }
